@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic");
body {
  margin: 0;
  font-family: "Open Sans";
  font-weight: bold;
}
